[Unit]
Description=Birthday Bot
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /opt/birthday-bot/Birthday-Bot-Sourcecode.dll
WorkingDirectory=/opt/birthday-bot
Restart=always


[Install]
WantedBy=default.target
RequiredBy=network.target